.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  border-radius: 0.5rem;
  background-color: #3a2b4c;
  padding: 1vh;
  min-width: 100%;
  max-width: 100%;
}

.App-body {
  color: white;
  margin: 10vh;
}

.App-link {
  color: #61dafb;
}